### IMDB Voted

In [ ]:
import pandas as pd
import sqlite3

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('select * from IMDB',db)
max1 = max(data['TotalVotes'])
data = data[data['TotalVotes']==max1]
print(data['Title'].values[0],data['Rating'].values[0])

### IMDB running time

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('select * from IMDB',db)

def fun(input_runtime):
    return input_runtime.strip().split(" ")[0]

data['Runtime'] = data['Runtime'].apply(fun)
data['Runtime'].replace('',np.nan,inplace=True)
data['Runtime'].astype(float) 

data.dropna(inplace=True,subset=['Runtime'])
data['Runtime']=data['Runtime'].astype(int)
max1 = max(data['Runtime'])
data=data[data['Runtime']== max1]

print(data['Title'].values[0],data['Runtime'].values[0])

### IMDB profit

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

db = sqlite3.connect('IMDB.sqlite')    

data = pd.read_sql_query('select * from earning  join IMDB using(Movie_id)',db)

data['Total'] = data['Domestic'] + data['Worldwide']
data['Budget'].replace('',np.nan,inplace=True)
data['Budget'].astype(float)
data['Profit']=data['Total']-data['Budget']

max1 = max(data['Profit'])
data=data[data['Profit']==max1]
print(data.values[0][3])

### IMDB least budget

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('select * from earning join IMDB using(Movie_id)',db)

data['Total'] = data['Domestic'] + data['Worldwide']
data['Budget'].replace('',np.nan,inplace=True)
data['Budget'].astype(float)
data['Profit']=data['Total']-data['Budget']

min1 = min(data['Budget'])
data=data[(data['Budget']==min1)]
data=data[data['Profit']==max(data['Profit'])]
print(data['Title'].values[0])

### IMDB Year Top

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('select * from earning join IMDB using(Movie_id)',db)

data['Total'] = data['Domestic'] + data['Worldwide']

def year(title):
    return int(title.strip().split(" ")[-1][-5:-1])

data['Year'] = data["Title"].apply(year)
data['Year'].unique()

m = data.groupby('Year')['Total'].max()

d = {}
for i in range(len(data['Total'])):
    if data['Total'][i] in (m.values):
        key = data['Year'][i]
        value = data['Title'][i]
        d[key] = value
        
for i  in sorted(d):
    print(i,d[i])

### IMDB genre budget

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('Select * from IMDB join genre using(Movie_id)',db)

data['Budget'].replace("",0,inplace=True)
data.Budget.unique()

data["genre"].replace('',np.NaN,inplace=True)
data.dropna(subset = ["genre"],inplace=True)
grouped_sum = data.groupby("genre")["Budget"].sum()

for i in range(len(grouped_sum)):
    percentage=grouped_sum.values[i]/(sum(grouped_sum))*100
    print(grouped_sum.index[i],format(percentage,".2f"))

plt.pie(grouped_sum,labels=grouped_sum.index,autopct="%.2f")
plt.show()

### IMDB genre earning

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt


db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('Select * from genre join earning using(Movie_id)',db)

data['Total'] = data["Domestic"] + data["Worldwide"]
data['Total'].unique()
data["genre"].replace("",np.NaN,inplace=True)
data.dropna(subset=["genre"],inplace=True)

grouped_sum=data.groupby("genre")['Total'].sum()

percent = np.true_divide(grouped_sum,grouped_sum.sum())*100
for i in range(len(grouped_sum)):
    print(grouped_sum.index[i],format(percent[i],".2f"))

plt.pie(grouped_sum,labels=grouped_sum.index,autopct="%.2f")
plt.show()

### IMDB Specific Genre

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('Select * from IMDB join genre using(Movie_id)',db)
data = data[((data["genre"]=='Sci-Fi') & (data["Rating"]>=8)) | ((data["genre"]=='Mystery') & (data["Rating"]>=8))]
print(data['Title'].values[0] )