### Update SQL Table

In [1]:
import sqlite3

db = sqlite3.connect('Employee_Detail.sqlite')
db
cur = db.cursor()
cur
sql_query = 'create table Employee_Detail(Employee_ID int primary key, Name text, Age int, Department text, Salary int )'
cur.execute(sql_query)
values = [(101, 'Aadarsh', 25, 'Marketing', 50000),(102, 'Aarti', 27, 'Operations', 60000),(103, 'Siddharth', 25, 'Finance', 85000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()
values = [(104, 'Aman', 24, 'Human Resource', 75000),(105, 'Amit', 30, 'Marketing', 50000),(106, 'Shivansh', 26, 'IT', 90000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()
values = [(107, 'Vaibhav', 23, 'Finance', 85000),(108, 'Himanshu', 26, 'IT', 90000),(109, 'Raman', 25, 'Operations', 60000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()
values = [(110, 'Kunal', 26, 'Marketing', 50000),(111, 'Adhira', 29, 'Human Resource', 75000),(112, 'Tanya', 24, 'Marketing', 50000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()
db.close()
print('Done')

Done

### Finance Employee SQLite

In [1]:
import sqlite3

db = sqlite3.connect('Employee_Detail.sqlite')
cur = db.cursor()

cur.execute('select * from Employee_Detail where Department = "Finance"')
ans = cur.fetchall()
for i in ans:
    print(i[0])
db.close()

103
107

### Find Employee

In [3]:
import sqlite3

db = sqlite3.connect('Employee_Detail.sqlite')
cur = db.cursor()

cur.execute('select Department,count(*) from Employee_Detail group by Department')
ans = cur.fetchall()
for i in ans:
    print(i[0],i[1])
db.close()

Finance 2
Human Resource 2
IT 2
Marketing 4
Operations 2

### Count Genre

In [ ]:
import pandas as pd
import sqlite3

db = sqlite3.connect('IMDB.sqlite')

data = pd.read_sql_query('select * from genre', db)
data = data[data['genre']!='']
data = data["genre"].value_counts()
for i in range(len(data)):
    print(data.index[i],data.values[i])

### IMDB Movie

In [ ]:
import pandas as pd
import sqlite3

db = sqlite3.connect('IMDB.sqlite')
data = pd.read_sql_query('select * from earning inner join IMDB on earning.Movie_id=IMDB.Movie_id',db)
#select * from earning join IMDB using(Movie_id) 
data["Total"] = data["Domestic"] + data["Worldwide"]
max1 = max(data["Total"])
data=data[data['Total']==max1]
print(data.values[0][5])