### Split

In [3]:
str = "My Name Is Parikh"
li = str.split()
print(li)

['My', 'Name', 'Is', 'Parikh']

In [10]:
str = "My Name Is Parikh"
li = str.split(' ',1)
print(li)

['My', 'Name Is Parikh']

# Replace

In [12]:
str = "my name is parikh"
str = str.replace("parikh","rohan")
print(str)

my name is rohan

In [13]:
str = "my name is parikh parikh parikh"
str = str.replace("parikh","rohan")
print(str)

my name is rohan rohan rohan

In [14]:
str = "my name is parikh parikh parikh"
str = str.replace("parikh","rohan",2)
print(str)

my name is rohan rohan parikh

### FIND

In [16]:
str = 'My Name is Parikh'
index = str.find("Na")
print(index)

3

In [21]:
str = 'My Name is Parikh'
index = str.find("ra")
print(index)

-1

In [17]:
str = "my name is parikh parikh"
index = str.find("par")
print(index)

11

In [19]:
str = "my name is parikh parikh"
index = str.find("par",16,21)
print(index)

18

### Lower and Upper

In [22]:
str = 'My name is Parikh'
str = str.lower()
print(str)

my name is parikh

In [23]:
str = 'my name is parikh'
str = str.upper()
print(str)

MY NAME IS PARIKH

## Startswith

In [25]:
str = 'my name is parikh'
ans = str.startswith("my na")
print(ans)

True

In [28]:
str = 'my name is parikh'
ans = str.startswith("my nae")
print(ans)

False

In [35]:
str = 'my name is parikh'
ans = str.startswith("pa",11,18)
print(ans)

True

### Replace Character in Strings

In [1]:
def replace(str,char1,char2):
    
    newStr = ""
    for char in str:
        if (char == char1):
            newStr +=char2
        else:
            newStr+= char
    return newStr
    
str = "abcda"
str = replace(str,"a","e")
print(str)

ebcde

### Count Strings

In [2]:
def countInString(str):
    v,c,d,s=0,0,0,0
    
    for char in str:
        if (char>='a'and char<='z')or(char>="A"and char<='Z'):
            char = char.lower()
            if (char=="a" or char =='e'or char =="i" or char =='o'or char =='u'):
                v+=1
            else:
                c+=1
        elif (char>="0"and char<="9"):
            d+=1
        else:
            s+=1
    return v,c,d,s

str = "Vaibhav@123!"
v,c,d,s=countInString(str)
print(v,c,d,s)

3 4 3 2