#### Code : Square Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

In [1]:
n=int(input())
i=1
while i <=n:
    j=1
    while j<=n:
        print(n,end="")
        j=j+1
    print()
    i=i+1

4
4444
4444
4444
4444

#### Code : Triangular Star Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

*
**
***
****

In [2]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j <= i:
        print('*',end='')   
        j = j +1
    print()    
    i = i+1

4
*
**
***
****

#### Code : Triangle Number Pattern

1
22
333
4444

Print the following pattern for the given N number of rows.Pattern for N = 4

In [4]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(i,end="")
        j=j+1
    print()
    i=i+1

4
1
22
333
4444

#### Code : Reverse Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

In [5]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j <=i:
        print(i-j+1,end='')
        j = j + 1
    print()
    i = i + 1

4
1
21
321
4321

#### Code : Alpha Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 3

In [6]:
n = int(input())
i = 1
while i <= n:
    char = chr(ord('A') + i - 1)
    j = 1
    while j <= i:
        print(char, end="")
        j += 1
    print()
    i += 1

3
A
BB
CCC

#### Code : Character Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

In [7]:
n = int(input())
i = 1
while n>=i:
    j = 1
    start_char = chr(ord('A')+i-1)
    while j<=i:
        charP =chr(ord(start_char) +j-1)
        print(charP,end='')
        j = j+1
    print()
    i = i + 1

4
A
BC
CDE
DEFG

#### Code : Interesting Alphabets

Print the following pattern for the given number of rows.
Pattern for N = 5

In [8]:
n = int(input())
i = n
while i >= 1:
    j = i
    while j<=n:
        print(chr(ord("A")+j-1),end="")
        j = j + 1
    print()
    i = i - 1

5
E
DE
CDE
BCDE
ABCDE

#### Code : Inverted Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

In [9]:
n = int(input())
i = 1
while i <= n:
    j =1
    while j<= n-i+1:
        print(n-i+1,end='')
        j = j+1
    print()
    i = i + 1

4
4444
333
22
1

#### Code : Mirror Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

In [10]:
n = int(input())
i = 1
while i<=n:
    spaces =1
    while spaces<=n-i:
        print(' ',end='')
        spaces = spaces + 1
    digit = 1
    while digit<=i:
        print(digit,end='')
        digit= digit+ 1
    print()
    i= i+1

4
   1
  12
 123
1234

#### Code : Star Pattern

Print the following pattern
Pattern for N = 4

In [11]:
n = int(input())
i = 1
while i<=n:
    spaces =1
    while spaces<=n-i:
        print(' ',end='')
        spaces = spaces + 1
    digit = 1
    while digit<=i:
        print('*',end='')
        digit= digit+ 1
    digit = i-1
    while digit>=1:
        print('*',end='')
        digit = digit - 1
    print()
    i= i+1

4
   *
  ***
 *****
*******

#### Code : Triangle of Numbers

Print the following pattern for the given number of rows.
Pattern for N = 4

In [13]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n-i):  
        print(' ',end="") 
        j=j+1
    a=1
    p=i
    while(a<=i):
        print(p,end="")
        a=a+1
        p=p+1
    #print()
    b=1
    p=2*i-2
    while(b<=i-1):
        print(p,end="")
        p-=1
        b+=1
    print()
    i=i+1

4
   1
  232
 34543
4567654

#### Code : Diamond of stars

Print the following pattern for the given number of rows.
Note: N is always odd.


Pattern for N = 5

In [14]:
n=int(input())
n1=(n+1)//2
n2=n1-1
i=1
while(i<=n1):
    a=1
    while(a<=n1-i):
        print(" ",end="")
        a=a+1
    b=1
    while(b<=2*i-1):
        print('*',end="")
        b=b+1
    print()
    i=i+1
i=n2
while(i>=1):
    a=1
    while(a<=n2 - i +1):
        print(" ",end='')
        a = a+1
    j=1
    while(j<=2*i-1):
        print('*',end="")
        j=j+1
    print()
    i = i-1

5
  *
 ***
*****
 ***
  *